{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="lay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-left mt-2">
                <h2 class="logo-font"><strong>Drinks<strong></strong></h2>
                <!-- Default dropleft button -->
            </div>
            <div class="col text-right mt-2">
                <select class="logo-font nav-link text-black mr-5 dropdown-toggle" href="" id="all_drinks" >
                    <div class="dropdown-menu border-0"" aria-labelledby="all-drinks-link">
                        <!-- Dropdown menu links -->
                        <option value="reset" {% if sorting_by == 'None_None' %}selected{% endif %}>Sort by</option>
                        <option value="price_ascending" {% if sorting_by == 'price_ascending' %}selected{% endif %}>Price Low-High</option>
                        <option value="price_descending" {% if sorting_by == 'price_descending' %}selected{% endif %}>Price High-Low</a>
                        <option value="rating_descending" {% if sorting_by == 'rating_descending' %}selected{% endif %}>By Rating</a></option>
                    </div>
            </select>
            </div>
            <hr class="w-50 mb-1">
        </div>
        <div class="row">
            <div class="drinks-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for drink in drinks %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <div class="card-body pb-0">
                                <a href="{% url 'each_drink' drink.id %}">
                                    {% if drink.image%}
                                    <img class="card-img-top img-fluid" src="{{ drink.image.url }}" alt="{{ drink.name }}">
                                    {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ drink.name }}">
                                    {% endif %}
                                </a>
                                </div>
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ drink.name }} ({{ drink.alcohol }})</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ drink.price }}</p>
                                            {% if drink.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ drink.rating }}</small>
                                            {% else %}
                                                <small class="text-muted">None</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#all_drinks').change(function() {
            var selector = $(this);
            var path = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                path.searchParams.set("sort", sort);
                path.searchParams.set("direction", direction);

                window.location.replace(path);
            } else {
                path.searchParams.delete("sort");
                path.searchParams.delete("direction");

                window.location.replace(path);
            }
        })
    </script>
{% endblock %}