{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="lay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-left mt-2">
                <h2 class="logo-font"><strong>Drinks<strong></strong></h2>
                <!-- Default dropleft button -->
            </div>
            <div class="col text-right mt-2">
                <button class="logo-font nav-link text-black mr-5 dropdown-toggle" href="" id="all-drinks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sorting
                </button>
                <div class="dropdown-menu border-0"" aria-labelledby="all-products-link">
                    <!-- Dropdown menu links -->
                    <a href="{% url 'drinks' %}?sort=price&direction=ascending" class="dropdown-item">Low price</a>
                    <a href="{% url 'drinks' %}?sort=price&direction=descending" class="dropdown-item">High Price</a>
                    <a href ="{% url 'drinks' %}?sort=rating&direction=descending" class="dropdown-item">By Rating</a>
                    <a href="{% url 'drinks' %}" class="dropdown-item">All Drinks</a>
                </div>
            </div>
            <hr class="w-50 mb-1">
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for drink in drinks %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <div class="card-body pb-0">
                                <a href="{% url 'each_drink' drink.id %}">
                                    <img class="card-img-top img-fluid" src="{{ drink.image.url }}" alt="{{ drink.name }}">
                                </a>
                                </div>
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ drink.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ drink.price }}</p>
                                            {% if drink.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ drink.rating }}</small>
                                            {% else %}
                                                <small class="text-muted">None</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}