{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Import clean background-->
    <div class="lay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if drink.image %}
                        <a href="{{ drink.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ drink.image.url }}" alt="{{ drink.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dsbcqaevp/image/upload/v1720506677/noimage.png" alt="{{ drink.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0"><strong>{{ drink.name }}</strong></p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ drink.price }}</p>
                    
                    {% if drink.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ drink.rating }}</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser%}
                    <small class="ml-3">
                        <a href="{% url 'edit_drink' drink.id %}">Edit</a> | 
                        <a class="text-danger"  onclick="return confirm('Are you sure you want to remove this drink from the list?');" href="{% url 'delete_drink' drink.id %}">Remove</a>
                    </small>
                    {% endif %}
                    <form class="form" action="{% url 'add_basket' drink.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="1000" data-item_id="{{ drink_id}}" id="id_qty_{{ drink_id }}">
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_authenticated %}
                            <div class="mt-2">
                                <input type="submit" style="margin-bottom: 15px;"
                                class="btn btn-primary text-uppercase" value="Add to basket"><br>
                                <a href="{% url 'drinks'%}" <span class="icon">
                                    <i class="fas fa-chevron-left text-uppercase"></i>
                                    <span class=" text-uppercase">Continue Shopping</span>
                                </a>
                            </div>
                            {% else %}
                            <div class="mt-2">
                                <a href="{% url 'drinks'%}"
                                    <span class="icon">
                                    <i class="fas fa-chevron-left"></i></span>
                                    <span class="text-uppercase">View the Shopping</span>
                                </a>
                                <p><a href="{% url 'account_login' %}">Log in</a> if you want to order</p>
                            </div>
                            {% endif %}
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'drinks/includes/quantity_input_script.html' %}
{% endblock %}