{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'drinks/css/drinks.css' %}" type = "text/css" >
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="lay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Management</h2>
                <h5 class="text-muted">Update</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_drink' drink.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-primary btn-lg" href="{% url 'drinks' %}">Cancel</a>
                        <button class="btn btn-primary btn-lg type="submit">Update</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}