asgiref==3.8.1
cloudinary==1.36.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==3.2.25
django-allauth==0.63.3
django-crispy-forms==1.14.0
# gunicorn==22.0.0 # your version
gunicorn==20.0.4 # version from BA walkthrough.
pillow==10.3.0
psycopg2==2.9.9
pytz==2024.1
sqlparse==0.5.0
stripe==10.1.0
urllib3==1.26.19
