{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="lay"></div>
        <div id="bag_full_view">
            {% if basket_order %}
                {% for order in basket_order %}
                    <div class="container table-responsive bag_view">
                        <img class="w-25 img-fluid rounded" src="{{ order.drink.image.url }}">
                        <ul>
                            <li scope="col">Name of drinks: <strong>{{ order.drink.name }}</strong></li>
                            <li scope="col">Price: <strong>${{ order.drink.price }}</strong></li>
                            <li scope="col">Quantity: <strong>{{ order.quantity }}</strong></li>
                            
                            <li scope="col">
                                <form class="form update-form" method="POST" action="">
                                    {% csrf_token %}
                                        <button" data-item_id="{{ order.basket_id }}" id="decrement-qty_{{ order.basket_id }}">
                                        </button>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ order.quantity }}" min="1" max="99"
                                            data-item_id="{{ order.basket_id }}"
                                            id="id_qty_{{ order.basket_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ order.basket_id}}" id="increment-qty_{{ order.baset_id }}">
                                            </button>
                                        </div>  
                                </form>
                            </li>
                            <li scope="col>
                                <div>
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                                    <p class="my-0">${{ order.drink.price }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>    
                {% endfor %}
            {% endif %}
        </div>
        <hr>                       
{% endblock %}