{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="lay"></div>
    <div class="container-fluid">
        <div class="row" id="bag_full_view">
            {% if basket_order %}
                {% for order in basket_order %}
                    <!--image-->
                    <div class="col-sm-8 col-md-6" id="drink_img">
                        <img class="img-fluid rounded" src="{{ order.drink.image.url }}">
                        <p class="my-0">${{ order.drink.price }}</p>
                    </div>

                    <!--details-->
                    <div class="col" id="drink_info">
                        <ul>
                            <li scope="col">Name of drinks: <strong>{{ order.drink.name }}</strong></li>
                            <li scope="col">Price: <b>${{ order.drink.price }}</b></li>
                            <li scope="col">Quantity: <b>{{ order.quantity }}</b></li>
                            
                            <li scope="col">
                                <form class="form update-quantity" method="POST" action="{% url 'fix_basket' order.basket_id %}">
                                    {% csrf_token %}
                                        <button" data-item_id="{{ order.basket_id }}" id="decrement-qty_{{ order.basket_id }}">
                                        </button>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ order.quantity }}" min="1" max="99"
                                            data-item_id="{{ order.basket_id }}"
                                            id="id_qty_{{ order.basket_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ order.basket_id}}" id="increment-qty_{{ order.basket_id }}">
                                            </button>
                                        </div>  
                                </form>
                            </li>
                            <li scope="col">
                                <div>
                                    <a class="update-link text-info"><small>Add</small></a>
                                    <a class="remove-link text-danger float-right" id="remove_{{ order.basket_id }}" data-size="{{ order.size }}"><small>Remove</small></a>
                                </div>
                            </li>
                        </ul>
                    </div>    
                {% endfor %}
            {% endif %}
        </div>
    </div>                         
{% endblock %}

{% block postloadjs %}
    <script type="text/Javascript">
        // Update the quantity of the drinks
        $('.update-link').click(function(e){
            var form = $(this).prev('.update-quantity');
            form.submit();
        })
        // Remove the quantity of the drinks
        $('.romove-link').click(function(e){
            var csrfToken = '{{csrf_token}}';
            var basketId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('size');
            var url = `/basket/remove/${basketId}`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}