/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    background: url('/media/pexels-bluerhinomedia-2789328.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 115vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* base page*/
#order_you_drink{
    background-color: rgba(3, 3, 3, 0.5);
    font-size: large;
}

footer{
    text-align : center;
    align-items: center;
}

.social_media{
    font-size: x-large;
}

.phone{
    padding:7px;
}

/* drinks page*/
.lay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}