{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="lay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-left mt-2">
            <h2 class="logo-font"><strong>Drinks<strong></strong></h2>
            <!-- Default dropleft button -->
        </div>
    <center class="errors">
    <h1>Page 404</h1><br>
    <p>Something went wrong as this page is not found!</p><br>
    <a href="{% url 'home' %}" aria-label="Go to Home page">Home page</a>
    <center>
{% endblock %}