{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contacts/css/contact.css' %}" type = "text/css">
{% endblock %}

{% block content%}
    <div class="lay"></div>
    <div class="container">
        <div class=" contacts">
            <p>Leave us your question here, and we will get back to you as soon as possible</p>
            <form method="POST" action="{% url 'question'%}">
                {% csrf_token %} 
                {%for q in form%}
                    {{q | as_crispy_field}}
                {% endfor%}
                <button class="btn btn-primary btn-lg my-3" type="submit">Submit</button>
                <a class="btn btn-primary btn-lg my-3" href="{% url 'home'%}">Home</a>
            </form>
        </div>
    </div>
{% endblock %}