{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12" id="callout">
            <section class="text-center">
                <h2 class="jumbotron-header">The finest drinks delivered to you.</h2>
                <hr class="block-divider block-divider--orange">
                <p class="lead">We delivere it to you now, not by <s class="d-none d-sm-inline">£3.99</s> but for
                    <span class="d-inline d-sm-none"><br></span>
                    <strong><mark>Free!</mark></strong>
                </p>
            </section>
    <!-- /.callout -->
        </div>
    </div>
</div>
{% endblock %}